.login_page {
    padding: 120px 0 60px 0;
    background: #eaebf0;
    height: 100vh;
}

.login_input_inner_otp .ReactInputVerificationCode__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
}

.login_input_inner_otp .ReactInputVerificationCode__container .ReactInputVerificationCode__item {
    background: #fff;
    font-size: 32px;
}