[data-rsbs-overlay] {
    border-top-left-radius: 16px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 16px;
    border-top-right-radius: 0px !important;
    display: flex;
    background: #fff;
    background: var(--rsbs-bg,#fff);
    flex-direction: column;
    height: 0px;
    height: var(--rsbs-overlay-h,0px);
    transform: translate3d(0, 0px, 0);
    transform: translate3d(0, var(--rsbs-overlay-translate-y,0px), 0);
    will-change: height;
}