@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 23px;
  color: #666;
  background: #fff;
  font-weight: 400;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  /* color: #252b33; */
}

ul,
ul li {
  font-size: 15px;
  line-height: 23px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  color: #666;
  font-family: 'Poppins', sans-serif;
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  font-size: 15px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: #252b33;
}

.nav-header-container {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.3s ease-in-out;
}

/* a,
a:hover {
  text-decoration: none !important;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  outline: 0;
  color: none !important;
} */


img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
}

.top-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px 5px 0px;
}

.top-main-bg {
  background: #555555;
  }

.top-left a {
  color: #fff;
  padding-right: 12px;
}

.top-right a {
  padding-left: 10px;
}


/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #ff6c00;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  color: #fff;
}

.button-52:after {
  content: "";
  background-color: #ff6c00;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1140px !important;
  }
}

@media (min-width: 768px) {
  .button-52 {
    padding: 8px 25px 8px;
  }
}

/*navbar */

.nav-link {
  display: block;
  padding: 0px 12px;
}

.content {

  /* background-image: url(//unsplash.it/1000/1000); */
  background-color: #333;
  background-blend-mode: multiply;
  background-size: cover;
  display: grid;
  place-items: center;
}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

/* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.nav-toggle:focus~.nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #000;
}

.nav-toggle:checked~nav {
  transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .logo {
    grid-column: 2 / 3;
  }

  nav {
    all: unset;
    /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  nav ul {
    display: flex;
  }

  nav li {
    margin-left: 0;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }


  nav a::before {
    content: '';
    display: block;
    height: 3px;
    background: #ff6c00;
    position: absolute;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
    bottom: 2px;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

.header-navigation.py-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-cn.second {
  margin-left: auto;
}

/* banner btn css */

.hdr-second-btn {
  padding-top: 20px;
  padding-bottom: 30px;
}

/* CSS */
.button-92 {
  --c: #fff;
  /* text color */
  background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p, 100%)/300% no-repeat,
    #555555;
  /* background color */
  color: #0000;
  border: none;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
  text-shadow: calc(var(--_i, -1)* 0.08em) -.01em 0 var(--c),
    calc(var(--_i, -1)*-0.08em) .01em 2px #0004;
  outline-offset: .1em;
  transition: 0.3s;
}

.button-92:hover,
.button-92:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-92:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-92 {
  font-size: 24px;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}




/* CSS */
.button-91 {
  --c: #fff;
  background: #fff;
  color: #555555;
  border: 2px solid #555555;
  transform: perspective(500px) rotateY(calc(20deg*var(--_i, -1)));
  text-shadow: calc(var(--_i, -1)* 0.08em) -0.01em 0 var(--c), calc(var(--_i, -1)*-0.08em) 0.01em 2px #0004;
  outline-offset: 0.1em;
  transition: 0.3s;
}

.button-91:hover,
.button-91:focus-visible {
  --_p: 0%;
  --_i: 1;
}

.button-91:active {
  text-shadow: none;
  color: var(--c);
  box-shadow: inset 0 0 9e9q #0005;
  transition: 0s;
}

.button-91 {
  font-size: 24px;
  margin: 0;
  cursor: pointer;
  padding: 0.1em 0.3em;
}

.hdr-btns {
  display: flex;
  gap: 1em;
}

.heading p {
  font-size: 32px;
  font-weight: 650;
  color: #555555;
}

.main-banner-bg {
  background: #f6f6f7;
  padding: 50px;
}

.hdr-btns {
  padding-top: 30px;
}

/* under line tittle */

.heading h3:after {
  height: 3px;
  width: 50px;
  background: #ff7533;
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -5px;
}

.heading h3 {
  position: relative;
  text-align: center;
  font-size: 32px;
  font-weight: 650;
  color: #555555;
}

.main-fleet {
  border: 1px solid #555;
  background: #fafafb;
  overflow: hidden;
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
}

.fleet-name h4 {
  color: #ff7533;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.fleet-image i {
  font-size: 92px;
}

.fleet-cnt p {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

.fleet-image i:hover {
  color: #ff7533;
  transition: 0.8s;
}

.view-al-bnt {
  text-align: center;
}

.view-al-bnt a {
  width: 100%;
  color: #fff;
  background: #ff7533;
  display: block;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: 0.8s;
}

.fleet-name {
  padding: 20px 0px 0px 20px;
}

.fleet-cnt {
  padding: 00px 0px 0px 20px;
}

.fleet-image i {
  transform: scaleX(-1);
}

.fleet-image {
  padding-left: 8.4em;
}

.fleet-image i {
  color: #dadadb;
}



/* 
.view-al-bnt {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.main-fleet {
    border: 1px solid #555;
    background: #fafafb;
    overflow: hidden;
    border-radius: 10px;
    height: 100%;
    position: relative;
    padding-bottom: 30px;
} */

.driver span {
  background: #ff7533;
  padding: 8px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.ms-cnt h4 {
  color: #555555;
  font-size: 19px;
  font-weight: 600;
}

.ms-cnt {
  padding: 30px 0px 30px 0px;
}

.mb-screen img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.presence-img img {
  object-fit: contain;
  height: 385px;
  width: 100%;
}

.main-bg-points {
  background: #ff7533;
}

.main-section {
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 20px 0px;
}

.left-section h5 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

}

.left-section h4 {
  margin-bottom: 0px;
  color: #fff;
  font-size: 32px;
  font-weight: 600;

}

.main-section i {
  color: #fff;
  font-size: 40px;
}

.main-bg-points {
  background: #ff7533;
  padding: 20px 0px;
}

.headingg h3:after {
  height: 3px;
  width: 50px;
  background: #fff;
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -5px;
}

.headingg h3 {
  position: relative;
  text-align: center;
  color: #fff;
  font-size: 32px;
  font-weight: 650;

}

.name-image {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: center;
}

.main-testimonials p {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #555555;
}

.quotes {
  text-align: center;
}

.testimonials-bg {
  background: #ff7533;
  padding: 30px 20px;

  
}

.main-testimonials p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.name {
  color: #fff;
}

.quotes {
  color: #fff;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
}

.name-image img {
  width: 5%;
  object-fit: cover;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 25% !important;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: .5;
  border: 2px solid #fff !important;
  height: 40px !important;
  width: 40px !important;
  border-radius: 50% !important;
}

.name h6 {
  margin-bottom: 0px;
}

.main-helpful-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.icons-helpufl i {
  color: #555555;
  font-size: 40px;
}

.help-name h6 {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 500;
}

.headinng h3:after {
  height: 3px;
  width: 50px;
  background: #ff7533;
  content: "";
  position: absolute;
  left: 0px;
  margin: auto;
  bottom: -5px;
}

.headinng h3 {
  position: relative;
  text-align: left;
  color: #000;
}

.help-name {
  padding: 10px 0px;
  color: #ff7533;
}

.subscribe {
  display: flex;
  background: #fff;
  border-radius: 10px;
  padding: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 30px;
}

.subscribe input[type="email"] {
  width: 78%;
  border: 0;
  padding-left: 1em;
}

.subscribe input[type="submit"] {
  width: 22%;
  border: 0;
  color: #fff;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  border-radius: 20px;
  background: #ff7533;
}

.newsletter-bg {
  background: #ff7533;
  padding: 30px 0px;
}

.newsletter-main p {
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

/* button css */
.buttonn {
  border-radius: 4px;
  background-color: #ff7533;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: -8px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
}

.buttonn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonn:hover span {
  padding-right: 25px;
}

.buttonn:hover span:after {
  opacity: 1;
  right: 0;
}

.ft-link h5:after {
  height: 3px;
  width: 30px;
  background: #555555;
  content: "";
  position: absolute;
  left: 0px;
  margin: auto;
  bottom: -5px;
}

.ft-link h5 {
  position: relative;
  text-align: left;
  color: #555555;
}

.footer-bg {
  background: #f6f6f7;
}

.qui-lnk ul {
  padding-left: 0px;
  text-decoration: none;
  list-style-type: none;
}

.qui-lnk {
  padding-top: 25px;
}

.add {
  display: flex;
  align-items: start;
  gap: 1em;
}

.pppn {
  display: flex;
  align-items: center;
  gap: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}

.eeem {
  display: flex;
  align-items: center;
  gap: 1em;
}

.qui-lnk li {
  padding-bottom: 10px;
}

.qui-lnk a {
  color: #555555 !important;
}

.ft-link {
  padding-top: 50px;
}

.ft-liink {
  padding-top: 30px;
}

.ab-cntt {
  padding-top: 20px;
}

.social-icons {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.social-icons {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  padding: 25px;
}

.social-icons i {
  background: #fff;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  color: #241f21;
  font-size: 17px;
  border: 2px solid #000;
}

.social-icons a:hover {
  transform: rotate(360deg);
}

.copyright-bg {
  background: #ff7533;
  text-align: center;
  padding: 10px;
}

.copyright-bg p {
  margin-bottom: 0px;
  color: #fff;
}

input[type="email"]:focus {
  outline: none;
}

.social-icons i:hover {
  color: #fff;
  background: #ff7533;
  border: 2px solid #000;
}

.icons-helpufl i:hover {
  color: #ff7533;
}

.one-helpful {
  width: 30%;
}


/* new css */


.btn-orange {
  background-color: #ff7534 !important;
  color: #000;
}

.text-orange {
  color: #ff7534;
}

.bg-orange {
  background-color: #ff7534;
  color: #fff;
}

.orange {
  color: #ff7534;
}

.myrounded {
  border-radius: 30px;
  width: 100%;
}

.myrounded-two {
  border-radius: 20px;
  width: 100%;
}

.up {
  margin-top: -15px;
}

.bg-white {
  background-color: #fff;
}

/* .btn-white {
  background-color: #ffffff;
  border: 2px solid #000;
} */

/* The container */
.radiocontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiocontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffabab;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiocontainer:hover input~.checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiocontainer input:checked~.checkmark {
  background-color: #ff7534;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiocontainer input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiocontainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.otpbox {
  line-height: 50px;
  width: 50px;
  border-radius: 10px;
}

.logisticimg {
  /* background-image: url('../images/logistic.png'); */
  height: 400px;
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  align-items: center;
  /* padding-left: 200px; */
}

.mybtn {
  width: 300px;
  height: 50px;
  box-shadow: 05px 10px 5px 2px #000;
  justify-content: center;
  display: flex;
  align-items: center;
  /* padding: 20px; */
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mybtn:hover {
  width: 300px;
  height: 50px;
  background-color: #000;
  color: #fff;
  box-shadow: 05px 7px 5px 2px #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  /* padding: 20px; */
  border-radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mybtn2 {
  border: solid 5px #000;
  background-color: #ff7534;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
}

.btn-active {
  border: solid 5px #000;
  background-color: #000;
  color: #fff;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
}

.mybtn2:active {
  border: solid 5px #000;
  background-color: #000;
  color: #fff;
  height: 70px;
  border-radius: 0px 10px 10px 0px;
}

.myheadbtn {
  padding: 0px 1px;
}

.myimgstyle {
  border: 5px solid #ff7534;
  border-radius: 500px;
  height: 100px;
  width: 100px;
  background-color: #000;
}

.mygap {
  margin-right: 30px;
}

.mygap:hover {
  border-bottom: 3px solid #ff7534;
}

.activegap {
  border-bottom: 3px solid #ff7534;
}

.box {
  box-shadow: 3px 3px 02px 02px #b1b1b177;
}

.fw-bold {
  font-weight: 700;
  letter-spacing: .5px;

}

.fa_lg {
  font-size: 50px;
}

.fa_md {
  font-size: 35px;
}

.fa_xl {
  font-size: 75px;
}

.fa_xxl {
  font-size: 100px;
}

.fa_sm {
  font-size: 25px;
}

.font12 {
  font-size: 12px;
  font-weight: 300;
}

.font14 {
  font-size: 14px;
  font-weight: 400;
}

.font30 {
  font-size: 30px;
  font-weight: 600;
}

.font35 {
  font-size: 35px;
  font-weight: 700;
}

.font40 {
  font-size: 40px;
  font-weight: 800;
}

.myshade {
  /* border-bottom: 1px solid #dbdbdb;
  box-shadow: 0px 5px 12px 1px #ff7534;
   top: 0px;
  position: fixed;
  width: 100%;
  z-index: 9; */
  background-color: #fff;
}

.stretch {
  width: 100%;
  height: 100%;
}

.upani:hover {
  transform: scale(1.5);
}

.middle {
  opacity: 1;
  z-index: 999;
  color: #000;
  background-color: #ffffff23;
  padding: 5px;
}

.about_banner {
  background-image: url('https://img.freepik.com/premium-photo/3d-rendering-earth-cardboard-boxes-van-truck-flying-plane_190619-2661.jpg');
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
  /* -webkit-filter: grayscale(20%); */
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(20%); */
  z-index: 0;
}

.review_banner {
  background-image: url('https://t3.ftcdn.net/jpg/02/02/17/98/360_F_202179808_o2YPAXShv0rdjQSso7mqOqSprYAvhKEM.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
  -webkit-filter: grayscale(20%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
  z-index: 0;
}

.contact_banner {
  background-image: url('https://www.kemarautomation.in/wp-content/uploads/2015/12/contact-us-banner.jpg');
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: repeat;
  /* background-attachment:; */
  background-size: cover;
  -webkit-filter: grayscale(20%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
  z-index: 0;
}

.job_tracker {
  background-image: url('https://m.economictimes.com/thumb/msid-73316070,width-1200,height-900,resizemode-4,imgsize-98953/navigaiton-getty1.jpg');
  width: 100%;
  height: 300px;
  background-position: center center;
  background-repeat: repeat;
  /* background-attachment:; */
  background-size: cover;
  -webkit-filter: grayscale(20%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.faq_banner {
  background-image: url('https://romiljewelry.com/images/faq_banner.jpg');
  width: 100%;
  height: 300px;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #969592;
  /* background-attachment:; */
  background-size: contain;
  -webkit-filter: grayscale(20%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(20%);
}

.blog_banner {
  background-image: url('https://media.istockphoto.com/id/1180178312/photo/blog-header-and-banner-of-laptop-with-typing-female-hands-copy-space-in-grey-color.jpg?s=170667a&w=0&k=20&c=KoiHZHYQu6qSBhnaAH-KgMv1ppP-4-HxO_e2ZvHtpis=');
  width: 100%;
  height: 300px;
  background-position: left center;
  background-repeat: no-repeat;
  background-color: #d6d6d6;
  /* background-attachment:; */
  background-size: contain;
  /* -webkit-filter: grayscale(20%); */
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(20%); */
}

.news_banner {
  background-image: url('https://nmc-mic.ca/wp-content/uploads/2019/09/iStock-1084892836.jpg');
  width: 100%;
  height: 300px;
  background-position: left center;
  background-repeat: repeat;
  background-color: #d6d6d6;
  /* background-attachment:; */
  background-size: contain;
  /* -webkit-filter: grayscale(20%); */
  /* Safari 6.0 - 9.0 */
  /* filter: grayscale(20%); */
}

/* .active {
  border-bottom: 4px solid #ff7534;
  margin-top: 0px;
 
} */

.info-window {
  height: 150px;
  width: 350px;
  border: 2px solid #ff7534;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 5px #ff7534;
  margin-top: -440px;
  margin-left: 30px;
  margin-bottom: 300px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  text-align: center;
  justify-content: center;
}

.map-window {
  z-index: 1;
  position: relative;
}

.fleet_bg {
  background-image: url('https://www.orbcomm.com/img/solutions/transportation/truck/EU-HeroBanner-Trucks.jpg');
  width: 100%;
  height: 500px;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #d6d6d6;
  background-attachment: fixed;
  background-size: cover;
  filter: blur(3px);
  -webkit-filter: blur(3px);
  z-index: 0;
}

.fleet_bg2 {
  background-image: url('https://media.tenor.com/WYKoRh1NGPEAAAAd/truck-delivery.gif');
  width: 100%;
  height: 400px;
  background-position: right center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  /* background-attachment: fixed; */
  background-size: contain;
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
  z-index: 0;
}

.blrbg {
  background-color: #0000006b;
  border-radius: 20px;
}

.blrbg2 {
  background-color: #ffffff84;
  border-radius: 20px;
}

.mydiv {
  /* background-color: rgb(0, 0, 0); */
  /* Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* Black w/opacity/see-through */
  /* color: white; */
  font-weight: bold;
  margin-top: -400px;
  margin-bottom: 150px;
  /* border: 3px solid #f1f1f1; */
  /* position: absolute; */
  /* top: 10%;
  left: 50%; */
  /* transform: translate(50%, 50%); */
  z-index: 10;
  /* width: 80%; */
  /* padding: 20px; */
  /* text-align: center; */
}

.mymap {
  border: 1px solid #999;
  box-shadow: 5px 5px 12px 2px #ff7534;
  border-radius: 10px;
}

.mymap2 {
  border: 1px solid #999;
  box-shadow: 3px 3px 8px 2px #ff7534;
  border-radius: 500px;
}

.mymap:hover {
  border: 1px solid #999;
  box-shadow: -5px -5px 12px 2px #ff7534;
}

.mybord {
  border-top: 10px;
  border-bottom: 20px;
  border-right: 5px;
  border-left: 5px;
  border-color: #222;
  border-style: solid;
  border-radius: 10px;
  background-color: #fff;
}

.newbg {
  background-image: url('https://image.slidesdocs.com/responsive-images/background/orange-business-wave-gradient-abstract-creative-powerpoint-background_5156022840__960_540.jpg');
  width: 100%;
  height: 120px;
  background-position: bottom center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-size: cover;
}

.myctrbg {
  background-color: #ffffffb5;
  padding-top: 30px;
  /* border-radius: 100px; */
  color: #000;
  height: 180px;
  width: 180px;
}

/* @media only screen and (max-width: 600px) {
  .myctrbg {
      background-color: #ffffffb5;
      padding-top: 30px;
      color: #000;
      height: 180px;
      width: 100%;
  }
} */


.myctrbg:hover {
  background-color: #000;
  padding-top: 30px;
  /* border-radius: 100px; */
  color: #fff;
  height: 180px;
  width: 180px;
}

/* @media only screen and (max-width: 600px) {
  .myctrbg:hover {
      background-color: #000;
      padding-top: 30px;
      color: #fff;
      height: 180px;
      width: 100%;
  }
} */

.mytestbord {
  border: 10px;
  border-radius: 500px;
  border-style: double;
  height: 200px;
  width: 200px;
}


.mycontbg {
  background-color: #ffffff;
  /* background-image: url('https://img.freepik.com/premium-vector/white-background-with-yellow-waves-orange-gradient_545537-22.jpg'); */
  background-size: cover;
  background-position: top right;
  border-radius: 50px;
  border-style: dotted;
}

.mycontbg2 {
  /* background-color: #ff7534; */
  /* background-image: url('https://img.freepik.com/premium-vector/white-background-with-yellow-waves-orange-gradient_545537-22.jpg'); */
  border-radius: 200px 200px 0px 0px;
  margin-top: -150px;
}

.bg-trans {
  background-color: #00000000;
}

.theambtn {
  border-radius: 30px;
  background-color: #ff7534;
  text-align: center;
  height: 40px;

}

.theambtn:hover {
  border-radius: 30px;
  background-color: #000000;
  text-align: center;
  height: 40px;
}

.imgover {
  z-index: 0;
}

.bg-black {
  background-color: #000;
}

.moveup {
  margin-top: -200px;
  z-index: 9;
  padding: 15px;
  background-color: #000;
}

.moveup2 {
  margin-top: -100px;
  z-index: 9;
  padding: 15px;
}

.moveleft {
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.person-title{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

/* .forgotModel{
  margin-top: 80px;
} */

.forgotModel .modal-header{
  background-color: #ff7534;
    color: #fff;
}

.nav-item{
  cursor:  pointer;
}

/* @keyframes example {
  from {
      right: 0px;
  }

  to {
      right: 250px;
  }

} */

/* .moveleft:hover {
  
  transition: 1s;
  left: 0;
} */
